.liste {
    /* text-align: center; */
    width: 800px;
    height: 1000px;
    margin: auto;
    border-style: solid;
    border-width: medium;
    border-radius: 50px;
    
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, rgb(0, 255, 213), rgb(191, 191, 191));
    
}

h1{
    text-align: center;
    font-family: verdana;
    font-size: 60px;
}

.task{
    list-style-type: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

.input{
    background-color: transparent;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

#send-btn{
    text-align: right;
}