html {
    width: 100%;
    height: 100%;
    background-image: url('images/pexels-padrinan-255379.jpg');
    background-size: cover;
    color: #fff;
    font-family: GeoSlb712MdBT, Georgia, serif;
    font-style: normal;
}

.the-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.the-title {
    padding: 5px;
    font-size: 3em;
    text-align: center;
}